.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
main { margin: auto; max-width: 960px; }

.table-container {
  margin: 10px;
  padding: 0;
}


tr.expandable > td > .inner {
  margin-left: 15px;
  overflow: hidden;
}
table{
  width:100%;
}
tr{
  cursor: pointer;
}
th{
  text-align: left;
}
.btn-add {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.align-left{
  text-align: left;
  margin-bottom: 2rem;
}
.align-right{
  text-align: right;
  margin: 1rem 2rem 0rem 0rem;
}
.modal{
  height: 100%;
  width: 100%;
}
.row{
  display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    max-width: 100%;
}
.align-items-end {
  align-items: flex-end!important;
}
.col {
  flex: 0 0 auto;
  width: 25%;
/* padding: 10px; */
}
.col-3 {
  flex:0 0 auto;
  width: 25%;
/* padding: 10px; */
}
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-edit{
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color:#44c767;
  color:white;
}
.btn-delete{
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #ff0000;
  color:white;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin:  0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.justify-content-evenly {
  justify-content: space-evenly!important;
}
.add-container {
  border-radius: 5px;
   padding: 20px;
}
.hide-col{
  visibility: hidden;
}